#container {
	height: 100%;
	width: 70%;
    margin: 0 auto;
    text-align: middle;
}

#code {
	/*text-align: center;*/
}

.hljs {
    background: none !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fontSize {
	font-size: 3em;
}

#answer {
	text-align: center;
}