
/*-------------------------------------------- END OF RESET --------------------------------------------*/

body {
    font-size: 16px;
}

#container {
  height: 80%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

#code {	
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

pre {
    
 white-space: pre-wrap;       
 white-space: -moz-pre-wrap;  
 white-space: -pre-wrap;      
 white-space: -o-pre-wrap;    
 word-wrap: break-word;       
 margin: 0px;
}

.hljs {
    background: none !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fontSize {
	font-size: 1.5em;
}

#answer {
    text-align: center;
    margin: 2em;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}