<md-card id='container' class='noselect' >
  <div ng-controller="AdminController">
          {{data}}

      <form >
        Question <br>
        <textarea ng-model="question.text"></textarea><br>
        Answer <br>
        <input type="text" ng-model="question.answer"> <br>
        Select Difficulty <br>
        <select name="Difficulty" id="difficulty-level" ng-model="question.difficulty" ngRequired><br>
          <option selected="selected">Select Difficulty</option>
          <option value="00">00</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
        </select>

        <input type="submit" ng-click="addQuestion(question)" value="Add Question" />
      </form>

      <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover">

      </table>

</md-card>