
<!-- Potential Swiping Functionality (caused errors on Iphone 6) ng-swipe-left="tap()" -->
<div>
<span  id='container' ng-if="!questions.isAnswered" class='code fontSize' hljs source="serverQuestions[questions.index].question">
 </span>
<section layout="row" id='footer' layout-align="center center">
    <i class="fa fa-chevron-left icon-large" id='arrow-left' ng-click='flip("left")'></i>
    <input label="Answer" type="text" ng-model='userAnswer'></input>
    <md-button id='submitButton' class="md-raised" ng-click="showAnswer($event)">Submit</md-button>
    <i class="fa fa-chevron-right icon-large" id='arrow-right' ng-click='flip("right")'></i>
</section>
</div>